@model MRTD.Core.Models.ResetPasswordModel;

@{
    ViewData["Title"] = "Change Password";
    ViewBag.Title = "Login";
}

<style type="text/css">
    .tipp-header {
        color: #6d2829;
    }

    .tipp-label {
        color: #377091;
    }

    .tipp-input-field {
        width: 85%;
    }

    .tipp-container {
        width: 100%;
        display: inline-block;
    }

    .tipp-left-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-middle-align {
        width: 60%;
        display: inline-block;
    }

    .tipp-right-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-error-message {
        color: red;
        width: 100%;
        text-align: left;
        display: none;
    }

    .tipp-btn-default {
        width: 120px;
        color: #6d2829;
    }

    .tipp-redirect-link {
        color: #377091;
    }

    a {
        color: #377091;
    }
</style>

<div class="tipp-container">
    <div class="tipp-left-align">
    </div>
    <div class="tipp-middle-align">
        <div>
            <h4 class="tipp-header">Change Password</h4>
        </div>
        <div class="tipp-error-message">
            Please make sure that new password and comfirm password are the same!
        </div>
        @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Username, new { @class="tipp-label" })
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control tipp-input-field", validation = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OldPassword, new { @class="tipp-label" })
                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control tipp-input-field", validation = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NewPassword, new { @class="tipp-label" })
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control tipp-input-field", validation = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmNewPassword, new { @class="tipp-label" })
                @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control tipp-input-field", validation = "required" })
            </div>
            <div style="text-align: center;">
                <input type="submit" value="Submit" class="btn btn-default tipp-btn-default" />
                <button type="button" class="btn btn-default tipp-btn-default" id="btnCancel">
                    Cancel
                </button>
            </div>
        }
    </div>
    <div class="tipp-right-align">
    </div>
</div>

<script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/js/jquery-validation-engine.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var form = $(document.getElementsByTagName("form"));

        form.submit(function (e) {
            var validate_form = new Form(form);

            if (!validate_form.valid()) {
                e.preventDefault();
            }
            else
            {
                if ($("#NewPassword").val() !== $("#ConfirmNewPassword").val()) {
                    $(".tipp-error-message").show();
                    e.preventDefault();
                }
            }
        });

        $(document.getElementById("btnCancel")).bind("click", function () {
            document.location.href = "Login/Login";
        });
    });
</script>