@model MRTD.Core.Models.NewFeedModel;
@using MRTD.Core.Common;
@using BusinessSchoolMLS.SchoolBusinessComponent;
@{
    ViewData["Title"] = "Create News Feed";
    string mguid = Session.AppSession["MemberID"].ToString();
    ModuleActivityBusinessComponent businessComponent = new ModuleActivityBusinessComponent();
    var lst_news_feeds = businessComponent.GetAllNewsFeedByClientID(Session.AppSession["ClientId"].ToString());
}
<style type="text/css">
    .tipp-header {
        color: #6d2829;
    }

    .tipp-label {
        color: #377091;
    }

    .tipp-input-field {
        width: 85%;
    }

    .tipp-container {
        width: 100%;
        display: inline-block;
    }

    .tipp-left-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-middle-align {
        width: 60%;
        display: inline-block;
    }

    .tipp-right-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-error-message {
        color: red;
        width: 100%;
        text-align: left;
        display: none;
    }

    .tipp-btn-default {
        width: 120px;
        color: #6d2829;
    }

    .tipp-btn-container {
        width: 100%;
        left: 5%;
        position: relative;
        text-align: center;
    }

    .tipp-redirect-link {
        color: #377091;
    }

    a {
        color: #377091;
    }

    .tipp-logo {
        padding-top: 0px;
        top: 5px;
        position: absolute;
    }

    .tipp-logo-botton-line {
        background-color: #377091;
        width: 100%;
        height: 10px
    }

    .tipp-top-heading {
        top: 80px;
        position: absolute;
        width: 75%;
    }

    .tipp-custom-button {
        width: 140px;
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    .tipp-custom-grid-button {
        width: 100px;
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    label {
        color: #377091 !important;
    }

    thead > tr {
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    .tipp-redirect-link {
        color: #377091 !important;
    }
</style>
<div class="tipp-top-heading">
    <div>
        <h4 class="tipp-header">News Feed</h4>
    </div>
    <div>
        <table id="tippNewsFeedTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Unit Name</th>
                    <th>News Feed Title</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var feed in lst_news_feeds)
                {
                    <tr>
                        <td>@feed.FullName</td>
                        <td>@feed.ModuleName</td>
                        <td>@feed.FeedHeader</td>
                        <td>@feed.DatetimeStamp.ToString("yyyy-MM-dd")</td>
                        <td align="center">
                            <button type="button" class="btn btn-primary btn-sm tipp-custom-grid-button" data-toggle="modal" data-target="#@feed.FeedID">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                        </td>
                        <td align="center">
                            <a class="btn btn-primary btn-sm tipp-custom-grid-button" href="@Url.Action("DeleteNewFeed", "ModuleActivity", new { mid = mguid, fid = feed.FeedID })"><span class="glyphicon glyphicon-remove"> Delete</span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@foreach (var feed in lst_news_feeds)
{
    <div id="@feed.FeedID" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title tipp-header">Create News Feed</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("UpdateNewsFeed", "ModuleActivity", FormMethod.Post))
                    {
                        <input type="hidden" name="MemberID" value="@mguid" />
                        <input type="hidden" name="FeedID" value="@feed.FeedID" />
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModuleID)
                            <select name="ModuleID" class="form-control">
                                @foreach (var module in Model.ModuleList)
                                {
                                    if (feed.ModuleName == module.Text)
                                    {
                                        <option value="@module.Value.ToString()" selected="selected">@module.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@module.Value.ToString()">@module.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FeedHeader)
                            <input type="text" name="FeedHeader" value="@feed.FeedHeader" class="form-control" />
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FeedText)
                            <textarea name="FeedText" class="form-control" rows="5">@feed.FeedHeader</textarea>
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <input type="submit" class="btn btn-primary tipp-custom-button" value="Save" />
                            <input type="button" class="btn btn-primary tipp-custom-button" value="Cancel" data-dismiss="modal" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div id="CreateNewsFeedForm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title tipp-header">Create News Feed</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SaveNewsFeed", "ModuleActivity", FormMethod.Post))
                {
                    <input type="hidden" name="MemberID" value="@mguid" />
                    <div class="form-group">
                        @Html.LabelFor(model => model.ModuleID)
                        @Html.DropDownListFor(model => model.ModuleID, Model.ModuleList, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FeedHeader)
                        @Html.TextBoxFor(model => model.FeedHeader, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FeedText)
                        @Html.TextAreaFor(model => model.FeedText, new { @class = "form-control", })
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <input type="submit" class="btn btn-primary tipp-custom-button" value="Save" />
                        <input type="button" class="btn btn-primary tipp-custom-button" value="Cancel" data-dismiss="modal" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $("#tippNewsFeedTable").DataTable({
        dom: 'Bfrtip',
        buttons: [{
            text: "Add Feed"
        }]
    });

    $("button.dt-button").attr("data-toggle", "modal");
    $("button.dt-button").attr("data-target", "#CreateNewsFeedForm");
    $("button.dt-button").addClass("tipp-custom-button");

</script>
