
@using BusinessSchoolMLS.SchoolBusinessComponent;

@{
    ViewData["Title"] = "Module Activitity Mark";
    LoginBusinessComponent loginBusinessComponent = new LoginBusinessComponent();
    int MemberID = loginBusinessComponent.GetMemberIDByMemberGuid(ViewBag.MemGuid);
    int UserID = loginBusinessComponent.GetMemberIDByMemberGuid(ViewBag.UserGuid);
    int ModuleActivityID = ViewBag.ModuleActivityID;
    int ModuleID = ViewBag.ModuleID;
}

<div>
    &nbsp;
</div>
<div>
    <h4 style="color: #6d2829;">Unit Activity Mark</h4>
</div>

<!--<div>
    @using (Html.BeginForm("SaveModuleActivityMark", "ModuleActivity", FormMethod.Post))
    {
        <input type="hidden" name="MemberID" value="@MemberID" />
        <input type="hidden" name="UserID" value="@UserID" />
        <input type="hidden" name="ModuleID" value="@ModuleID" />
        <input type="hidden" name="ModuleActivityID" value="@ModuleActivityID" />
        <div class="form-group">
            <label for="ActivityMarkValue">Activity Mark</label>
            <input type="number" name="ActivityMarkValue" id="ActivityMarkValue" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" style="width: 100px;">Save</button>
        </div>
    }
</div>-->
<div>
    @using (Html.BeginForm("UploadUnitActivityMark", "ModuleActivity", FormMethod.Post))
    {
        <input type="hidden" name="UserID" value="@UserID" />
        <div class="form-group">
            <label for="ActivityMarkValue">Activity Mark</label>
            <input type="file" name="FromFile" id="FromFile" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" style="width: 100px;">Upload</button>
        </div>
    }
</div>