@using BusinessSchoolMLS.SchoolBusinessComponent;
@using MRTD.Core.Models;

@{
    ViewData["Title"] = "Unit Group";
    string mguid = ViewBag.MemGuid;
    int GroupID = ViewBag.GroupID;

    FacultyBusinessComponent facultyBusinessComponent = new FacultyBusinessComponent();

    ModuleActivityBusinessComponent moduleActivityBusinessComponent = new ModuleActivityBusinessComponent();

    List<ModuleMemberModel> studentsRegisteredUnit = moduleActivityBusinessComponent.GetRegisteredByGroupID(GroupID);

    List<ModuleMemberModel> lst_all_modules = facultyBusinessComponent.GetAttendanceStudentsByGroupID(GroupID);

    List<GroupAttendanceModule> lst_all_attendants = facultyBusinessComponent.GetGroupAttendantsByGroupID(GroupID);

    ModuleGroupModel moduleGroupModel = facultyBusinessComponent.GetModuleGroupByGroupID(GroupID);
}

<style type="text/css">
    .tipp-header {
        color: #6d2829;
    }

    .tipp-label {
        color: #377091;
    }

    .tipp-input-field {
        width: 85%;
    }

    .tipp-container {
        width: 100%;
        display: inline-block;
    }

    .tipp-left-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-middle-align {
        width: 60%;
        display: inline-block;
    }

    .tipp-right-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-error-message {
        color: red;
        width: 100%;
        text-align: left;
        display: none;
    }

    .tipp-btn-default {
        width: 120px;
        color: #6d2829;
    }

    .tipp-btn-container {
        width: 100%;
        left: 5%;
        position: relative;
        text-align: center;
    }

    .tipp-redirect-link {
        color: #377091;
    }

    a {
        color: #377091;
    }

    .tipp-logo {
        padding-top: 0px;
        top: 5px;
        position: absolute;
    }

    .tipp-logo-botton-line {
        background-color: #377091;
        width: 100%;
        height: 10px
    }

    .tipp-top-heading {
        top: 80px;
        position: absolute;
        width: 75%;
    }

    .tipp-custom-button {
        width: 140px;
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    .tipp-custom-grid-button {
        width: 100px;
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    label {
        color: #377091 !important;
    }

    thead > tr {
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    .tipp-redirect-link {
        color: #377091 !important;
    }
</style>
<div class="tipp-top-heading">
    <div>
        <h4 class="tipp-header">Unit Group - @moduleGroupModel.GroupName</h4>
    </div>
    <div>
        <table id="tippGroupStudentListTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th>Student Name</th>
                    <th>Cell No</th>
                    <th>E-Email Address</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var attendant in lst_all_attendants)
                {
                    <tr>
                        <td>@attendant.GroupName</td>
                        <td>@attendant.FullName</td>
                        <td>@attendant.CellNo</td>
                        <td>@attendant.EmailAddress</td>
                        <td>@attendant.AttDate.ToString("yyyy - MM - dd")</td>
                        <td>@attendant.AttTime</td>
                        <td align="center">
                            <a class="btn btn-primary btn-sm tipp-custom-grid-button" href="@Url.Action("RemoveStudentFromGroup", "SchoolFaculty", new { mid = mguid, gid=GroupID, stdid = attendant.MemberID })">
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="CreateStudentGroupList" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title tipp-header">Unit Students</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SaveUnitGroupMembers", string.Format("SchoolFaculty"), FormMethod.Post))
                {
                    <input type="hidden" name="UserID" value="@mguid" />
                    <input type="hidden" name="GroupID" value="@GroupID" />
                    <table id="registerStudentTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Full Name
                                </th>
                                <th>
                                    Cell No
                                </th>
                                <th>
                                    E-mail Address
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var registered in studentsRegisteredUnit)
                            {
                                <tr>
                                    <td>@registered.FullName</td>
                                    <td>@registered.CellNo</td>
                                    <td>@registered.EmailAddress</td>
                                    <td><input type="checkbox" name="MemberID" value="@registered.MemberID" /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary tipp-custom-button" data-toggle="modal">Save</button>
                        <button type="button" class="btn btn-default tipp-custom-button" data-dismiss="modal">Cancel</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#tippGroupStudentListTable").DataTable({
            dom: 'Bfrtip',
            buttons: [{
                text: "Add Student"
            }]
        });

        $("button.dt-button").attr("data-toggle", "modal");
        $("button.dt-button").attr("data-target", "#CreateStudentGroupList");
        $("button.dt-button").addClass("tipp-custom-button");

        $("#registerStudentTable").DataTable({});
    });
</script>