@using MRTD.Core.Models;
@using MRTD.Core.Common;
@using BusinessSchoolMLS.SchoolBusinessComponent;

@{
    ViewData["Title"] = "Learning Material";
    string mid = ViewBag.MemGuid;
    int UnitID = ViewBag.UnitID;
    string UnitName = string.Empty;
    bool IsStudentCheck = false;
    List<RegisteredUnitModel> lst_all_registered_units = null;
    List<ModuleModel> moduleModules = null;
    LoginBusinessComponent loginBusinessComponent = new LoginBusinessComponent();
    FacultyBusinessComponent facultyBusinessComponent = new FacultyBusinessComponent();


    IsStudentCheck = loginBusinessComponent.IsStudentCheckByMemberGuid(mid);
    if (IsStudentCheck)
    {
        lst_all_registered_units = facultyBusinessComponent.GetRegisteredUnitByMemberID(mid);
    }
    else
    {
        moduleModules = facultyBusinessComponent.GetAllStudyUnits(Session.AppSession["ClientId"].ToString()).Where(a => a.ModuleName != "").ToList();
    }

    var lst_learing_materials = default(List<StudyMaterialModel>);

    if (UnitID != 0)
    {
        lst_learing_materials = facultyBusinessComponent.GetUnitLearningMaterialByUnitID(UnitID);
        UnitName = moduleModules.FirstOrDefault(unit => unit.ModuleID.Equals(UnitID.ToString())).ModuleName;
    }
}
<style type="text/css">
    .tipp-header {
        color: #6d2829;
    }

    .tipp-label {
        color: #377091;
    }

    .tipp-input-field {
        width: 85%;
    }

    .tipp-container {
        width: 100%;
        display: inline-block;
    }

    .tipp-left-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-middle-align {
        width: 60%;
        display: inline-block;
    }

    .tipp-right-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-error-message {
        color: red;
        width: 100%;
        text-align: left;
        display: none;
    }

    .tipp-btn-default {
        width: 120px;
        color: #6d2829;
    }

    .tipp-btn-container {
        width: 100%;
        left: 5%;
        position: relative;
        text-align: center;
    }

    .tipp-redirect-link {
        color: #377091;
    }

    a {
        color: #377091;
    }

    .tipp-logo {
        padding-top: 0px;
        top: 5px;
        position: absolute;
    }

    .tipp-logo-botton-line {
        background-color: #377091;
        width: 100%;
        height: 10px
    }

    .tipp-top-heading {
        top: 80px;
        position: absolute;
        width: 75%;
    }

    .tipp-custom-button {
        width: 140px;
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    .tipp-custom-extend-button {
        width: 160px;
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    .tipp-custom-grid-button {
        width: 100px;
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    label {
        color: #377091 !important;
    }

    thead > tr {
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    .tipp-redirect-link {
        color: #377091 !important;
    }
</style>
<div class="tipp-top-heading">
    <div>
        <h4 class="tipp-header">Learning Material</h4>
    </div>
    <div>
        @if (IsStudentCheck)
        {
            <table id="tippConnectProgramUnitTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Unit ID
                        </th>
                        <th>
                            Unit Name
                        </th>
                        <th>
                            NQF Level
                        </th>
                        <th>
                            Credit
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var registered_unit in lst_all_registered_units)
                    {
                        <tr>
                            <td>
                                @registered_unit.UnitCode
                            </td>
                            <td>
                                @registered_unit.ModuleName
                            </td>
                            <td>
                                @registered_unit.ModuleNQLevel
                            </td>
                            <td>
                                @registered_unit.Credit
                            </td>
                            <td align="center">
                                <button type="button" class="btn btn-primary tipp-custom-extend-button" data-toggle="modal" data-target="#@registered_unit.ModuleID">
                                    <span class="glyphicon glyphicon-list"></span> View Material
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <table id="tippConnectProgramUnitTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Unit ID</th>
                        <th>Unit Name</th>
                        <th>NQF Level</th>
                        <th>Credits</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var unit in moduleModules)
                    {
                        <tr>
                            <td>
                                @unit.ModuleUnitCode
                            </td>
                            <td>
                                @unit.ModuleName
                            </td>
                            <td>
                                @unit.NQLevelID
                            </td>
                            <td>
                                @unit.Credit
                            </td>
                            <td align="center">
                                <button type="button" class="btn btn-primary tipp-custom-button" data-toggle="modal" data-target="#@unit.ModuleID">
                                    <span class="glyphicon glyphicon-list"></span> View Material
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@if (IsStudentCheck)
{
    @foreach (var registered_unit in lst_all_registered_units)
    {
        <div id="@registered_unit.ModuleID" class="modal fade tipp-custom-modal-size">
            <div class="modal-dialog" style="width: 1000px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title tipp-header">Learning Material - @registered_unit.ModuleName</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("_UploadMaterialView", new MemberViewModel { MUID = mid, ModuleID = registered_unit.ModuleID})
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    @foreach (var unit in moduleModules)
    {
        <div id="@unit.ModuleID" class="modal fade tipp-custom-modal-size">
            <div class="modal-dialog" style="width: 1000px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title tipp-header">Learning Material - @unit.ModuleName</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("_UploadMaterialView", new MemberViewModel { MUID = mid, ModuleID = int.Parse(unit.ModuleID) })
                    </div>
                </div>
            </div>
        </div>
    }
}


<script type="text/javascript">
    function BuildLearningMaterialTableRow(learningData, member_id) {
        $("#tippUnitLearningMaterialTable-" + learningData[0].ModuleID).empty();
        for (var index = 0; index < learningData.length; index++) {
            $("#tippUnitLearningMaterialTable-" + learningData[index].ModuleID).append("<tr>");
            $("#tippUnitLearningMaterialTable-" + learningData[index].ModuleID).append($("<td>" + learningData[index].ModuleName + "</td>"));
            $("#tippUnitLearningMaterialTable-" + learningData[index].ModuleID).append($("<td>" + learningData[index].UploadFileName + "</td>"));
            $("#tippUnitLearningMaterialTable-" + learningData[index].ModuleID).append($("<td>" + learningData[index].UploadTypeName + "</td>"));
            $("#tippUnitLearningMaterialTable-" + learningData[index].ModuleID).append($("<td align=\"center\"><button onclick=\"javascript:RemoveLearnigMaterial('" + member_id + "', " + learningData[index].ModuleID + ", " + learningData[index].UploadID + ")\" class=\"btn btn-primary tipp-custom-grid-button\"><span class=\"glyphicon glyphicon-trash\"></span> Delete</button></td>"));
            $("#tippUnitLearningMaterialTable-" + learningData[index].ModuleID).append("</tr>");
        }
    }
    function RemoveLearnigMaterial(mguid, moduleId, uploadId) {
        $.ajax({
            url: "/SchoolFaculty/DeleteStudyLearningMaterial?mid=" + mguid + "&mod_id=" + moduleId + "&uid=" + uploadId,
            type: "post",
            data: {},
            success: function (data) {
                var result = JSON.parse(data);
                BuildLearningMaterialTableRow(result, mguid);
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }
    $(document).ready(function () {
        $("#tippConnectProgramUnitTable").DataTable({});
        $("form#UnitMaterialUpload").submit(function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: "/SchoolFaculty/UploadMaterialStudyUnit",
                type: "post",
                data: formData,
                success: function (data) {
                    var result = JSON.parse(data);
                    BuildLearningMaterialTableRow(result, '@mid');
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    });
</script>
