@using MRTD.Core.Models;
@using BusinessSchoolMLS.SchoolBusinessComponent;

@{
    ViewData["Title"] = "Financial Details";

    string mgiud = ViewBag.MemGuid,
        sguid = ViewBag.StudentGuid,
        ssguid = string.Empty;
    if (!string.IsNullOrEmpty(sguid))
    {
        ssguid = sguid;
    }
    else
    {
        ssguid = mgiud;
    }
    LoginBusinessComponent loginBusinessComponent = new LoginBusinessComponent();
    ApplicationBusinessComponent applicationBusinessComponent = new ApplicationBusinessComponent();
    FacultyBusinessComponent facultyBusinessComponent = new FacultyBusinessComponent();
    OnlineModuleActivityBusinessComponent onlineModuleActivityBusiness = new OnlineModuleActivityBusinessComponent();
    bool IsStudentCheck = loginBusinessComponent.IsStudentCheckByMemberGuid(mgiud);
    int MemberID = loginBusinessComponent.GetMemberIDByMemberGuid(ssguid);
    var lst_all_quals_by_member = onlineModuleActivityBusiness.GetAllQualificationAcademicRecordByMemberID(MemberID);
    var lst_all_quals = facultyBusinessComponent.GetAllFacultyQualificationByFacultyID(8);
}
<style type="text/css">
    .tipp-header {
        color: #6d2829;
    }

    .tipp-label {
        color: #377091;
    }

    .tipp-input-field {
        width: 85%;
    }

    .tipp-container {
        width: 100%;
        display: inline-block;
    }

    .tipp-left-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-middle-align {
        width: 60%;
        display: inline-block;
    }

    .tipp-right-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-error-message {
        color: red;
        width: 100%;
        text-align: left;
        display: none;
    }

    .tipp-btn-default {
        width: 120px;
        color: #6d2829;
    }

    .tipp-btn-container {
        width: 100%;
        left: 5%;
        position: relative;
        text-align: center;
    }

    .tipp-redirect-link {
        color: #377091;
    }

    a {
        color: #377091;
    }

    .tipp-logo {
        padding-top: 0px;
        top: 5px;
        position: absolute;
    }

    .tipp-logo-botton-line {
        background-color: #377091;
        width: 100%;
        height: 10px
    }

    .tipp-top-heading {
        top: 80px;
        position: absolute;
        width: 75%;
    }

    .tipp-custom-button {
        width: 140px;
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    .tipp-custom-grid-button {
        width: 100px;
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    a {
        color: #ffffff;
    }

    label {
        color: #377091 !important;
    }

    thead > tr {
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    .tipp-redirect-link {
        color: #377091;
    }
</style>
<div class="tipp-top-heading">
    <div>
        <h4 class="tipp-header">Financial Details</h4>
    </div>
    <div>
        @if (IsStudentCheck)
        {
            <table id="tippStudentProgram" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Unit ID</th>
                        <th>Name</th>
                        <th>Program</th>
                        <th>NQF Level</th>
                        <th>Year</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var member_qual in lst_all_quals_by_member)
                    {
                        <tr>
                            <td>@member_qual.UnitCode</td>
                            <td>@member_qual.QualificationName</td>
                            <td>@member_qual.QualType</td>
                            <td>@member_qual.NQLevel</td>
                            <td>@member_qual.AcademicYear</td>
                            <td align="center">
                                <button class="btn btn-primary tipp-custom-button" data-toggle="modal" data-target="#@member_qual.QualificationID">
                                    <span class="glyphicon glyphicon-list"></span> Statements
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <table id="tippStudentProgram" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Program ID</th>
                        <th>Program Name</th>
                        <th>NQF Level</th>
                        <th>Credit</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var qual in lst_all_quals)
                    {
                        <tr>
                            <td>@qual.UnitCode</td>
                            <td>@qual.QualificationName</td>
                            <td>@qual.QualificationNQLevel</td>
                            <td>@qual.Credit</td>
                            <td align="center">
                                <a href="@Url.Action("FinancialAccountStudent", "Administration", new { mid = ssguid, pid = qual.QualificationID })" class="btn btn-primary tipp-custom-grid-button">
                                    <span class="glyphicon glyphicon-list"></span> Students
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@foreach (var member_qual in lst_all_quals_by_member)
{
    <div id="@member_qual.QualificationID" class="modal fade tipp-custom-modal-size">
        <div class="modal-dialog" style="width: 1000px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title tipp-header">Financial Statements</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_FinancialDetailsView", new MemberViewModel { MUID = ssguid, UID = ssguid, QualID = member_qual.QualificationID });
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
          $("#tippStudentProgram").DataTable({});
    });
</script>