@using MRTD.Core.Models;
@using BusinessSchoolMLS.SchoolBusinessComponent;

@{
    ViewData["Title"] = "Financial Details";

    string mgiud = ViewBag.MemGuid,
        sguid = ViewBag.StudentGuid,
        ssguid = string.Empty;
    if (!string.IsNullOrEmpty(sguid))
    {
        ssguid = sguid;
    }
    else
    {
        ssguid = mgiud;
    }
    var academic_year = ViewBag.AcademicYear;
    LoginBusinessComponent loginBusinessComponent = new LoginBusinessComponent();
    ApplicationBusinessComponent applicationBusinessComponent = new ApplicationBusinessComponent();
    bool IsStudentCheck = loginBusinessComponent.IsStudentCheckByMemberGuid(mgiud);
    int MemberID = loginBusinessComponent.GetMemberIDByMemberGuid(ssguid);
    List<FinancialAccountModel> all_academic_finances = applicationBusinessComponent.GetYearFinancialStatementByMemberID(MemberID, academic_year);
}
<style type="text/css">
    .tipp-header {
        color: #6d2829;
    }

    .tipp-label {
        color: #377091;
    }

    .tipp-input-field {
        width: 85%;
    }

    .tipp-container {
        width: 100%;
        display: inline-block;
    }

    .tipp-left-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-middle-align {
        width: 60%;
        display: inline-block;
    }

    .tipp-right-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-error-message {
        color: red;
        width: 100%;
        text-align: left;
        display: none;
    }

    .tipp-btn-default {
        width: 120px;
        color: #6d2829;
    }

    .tipp-btn-container {
        width: 100%;
        left: 5%;
        position: relative;
        text-align: center;
    }

    .tipp-redirect-link {
        color: #377091;
    }

    a {
        color: #377091;
    }

    .tipp-logo {
        padding-top: 0px;
        top: 5px;
        position: absolute;
    }

    .tipp-logo-botton-line {
        background-color: #377091;
        width: 100%;
        height: 10px
    }

    .tipp-top-heading {
        top: 80px;
        position: absolute;
        width: 75%;
    }

    .tipp-custom-button {
        width: 140px;
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    .tipp-custom-grid-button {
        width: 100px;
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    a {
        color: #ffffff;
    }

    label {
        color: #377091 !important;
    }

    thead > tr {
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    .tipp-redirect-link {
        color: #377091;
    }
</style>
<div class="tipp-top-heading">
    <div>
        <h4 class="tipp-top-heading">Financial Details</h4>
    </div>

    <div>
        
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Reference No</th>
            <th>Allocation</th>
            <th>Description</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var finance in all_academic_finances)
        {
            <tr>
                <td>@finance.FinancialDate.ToString("yyyy-MM-dd")</td>
                <td>@finance.ReferenceNo</td>
                <td>@finance.Allocation</td>
                <td>@finance.Description</td>
                <td>@string.Format("R{0:#.00}", finance.Debit)</td>
                <td>@finance.Credit</td>
                <td>@string.Format("R{0:#.00}", finance.Balance)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" align="right">
                <span style="font-weight: bold;">Credit</span>
            </td>
            <td>
                @string.Format("R{0:#.00}", all_academic_finances.Sum(a => a.Credit))
            </td>
            <td>
                <span style="font-weight: bold;">Balance</span>
            </td>
            <td>
                @string.Format("R{0:#.00}", all_academic_finances.Sum(a => a.Balance))
            </td>
        </tr>
    </tfoot>
</table>


@*<div>
        @using (Html.BeginForm("FinancialAccountByAcademicYear", "Administration", FormMethod.Post))
        {
            if (!IsStudentCheck)
            {
                <div class="form-group">
                    <label for="StudentNo">Student No</label>
                    <input type="text" name="StudentNo" class="form-control" />
                </div>
            }
            <div class="form-group">
                <input type="hidden" name="mguid" value="@mgiud" />
                <label for="txtAcademicYear">Academic Year</label><input type="number" name="txtAcademicYear" class="form-control" value="@academic_year" />
            </div>
            <div>
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="Financial Details" class="btn btn-default" />
                <input type="submit" value="Cancel" class="btn btn-default" />
            </div>
        }
    </div>*@
